.NavigationBar {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.3em;
    padding: 0.2em;
    color: white;
    justify-content: space-evenly;
    align-self: flex-start;
    background-color:black;
}

.continent {
    display: flex;
}