.Formu{
    background-position-x: center;
    background-position-y: center;
    min-height: 100vh;
    justify-content: center;
    background: linear-gradient(90deg, #ba581b 0%, #f2c184 50%, #ba581b 100%);
}
.theName{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    background: black;
    background-clip:initial;
    -webkit-background-clip: text;
    margin-right: 10px;
    margin-bottom: 20px;
}
.inputName{

}
.theDifficulty{
    
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    background: black;
    background-clip:initial;
    -webkit-background-clip: text;
    margin-right: 10px;
}
.inputDifficulty{

}
.theDuration{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    background: black;
    background-clip:initial;
    -webkit-background-clip: text;
    margin-right: 10px;
}
.inputDuration{

}
.theSeason{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    background: black;
    background-clip:initial;
    -webkit-background-clip: text;
    margin-right: 10px;
}
.selectSeason{

}
.button{
    position: absolute;
    left: 50px;
    top: 12px;
    text-decoration: none;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: black 1px solid;
    border-radius: 5%;
    color: black;
    border-radius: 5px;
    background-color: #f2c184;
}