.botonesNavegacion {
    background-color: #ba581b;
    border-radius: 10%;
    padding: 5px;
    color: black;
    border: black 1px solid;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.countries{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0%;
    margin-right: 0px;
}
.botonPanico {
    background-color: #ba581b;
    border-radius: 10%;
    padding: 5px;
    color: black;
    border: black 1px solid;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
    justify-content: left;
}
