.container{
    background-color: transparent;
    border: 1.5px black solid;
    border-radius: 4%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 200px; 
    height: 250px;
}

.Link{
    text-decoration: none;
    color: black;
    display: contents;
    margin-top: 0%;
}
.Link:hover{
    color: white;
}
.name2{
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
.imagen{
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.img{
    width: 100px;
    height: 100px;
}
.continent {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 7px;
}